body.space {
	
	overflow: hidden; /* anything that exceeds the bounds of the screen will be hidden */
	background: url('images/bg.jpg');
	background-size: cover;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center; /* centers all children along a single axis */
	justify-content: center;
}

#mainContent {
	position: relative;
	width: 800px;
	height: 800px;
	display: flex; /* centers the main content pane itself */
	justify-content: center;
	align-items: center;
}

.planets {
	position: absolute;
	top: 50%;
	left: 50%;
}

/* start of the planet animations */

#sun {
	width: 200px;
	animation: move_sun 1s linear infinite;
}

#mercury {
	animation: move_mercury linear infinite;
	animation-duration: 2.4s;
}

#venus {
	animation: move_venus linear infinite;
	animation-duration: 6.2s;
}

#earth {
	animation: move_earth linear infinite;
	animation-duration: 10s;
}

#mars {
	animation: move_mars linear infinite;
	animation-duration: 18.8s;
}

#jupiter {
	animation: move_jupiter linear infinite;
	animation-duration: 119s;
}

#saturn {
	animation: move_saturn linear infinite;
	animation-duration: 295s;
}

#uranus {
	animation: move_uranus linear infinite;
	animation-duration: 840.2s;
}

#neptune {
	animation: move_neptune linear infinite;
	animation-duration: 1648s;
}

/* embellishments */

/*shooting star embillishment*/

.shooting-star {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	box-shadow: 0 0 15px;
	background-color: white;
	animation: shooting_star 5s infinite linear;
	animation-delay: 1s;
}

.shooting-star::before {
	content: "";
	position: absolute;
	top: 25%;
	left: -1150%;
	transform: translate(50%, 50%);
	width: 100px;
	height: 1px;
	background: linear-gradient(90deg, white, transparent);
}

@keyframes shooting_star {
	from {
	transform: translateX(1000px) translateY(-400px);
}
	10% {
		transform: translateX(-1100px) translateY(-300px);
}
	to {
		transform: translateX(-1100px) translateY(-300px);
}
}

/* UFO embellishment */

#ufo {
	position: relative;
	width: 115px;
	height: 80px;
	animation: move_ufo 6.5s infinite linear;
	animation-delay: 1s;
}

@keyframes move_ufo {
	from {
	transform: translateX(-1500px);
}
	65% {
	transform: translateX(600px);
}
	to {
	transform: translateX(600px);
}
}

/* key frames for all of the planets */

@keyframes move_sun {
	0% {
	transform: translateX(-80px) translateY(-80px);
}
	100%{
	transform: translateX(-80px) translateY(-80px);
}
}

@keyframes move_mercury {
	from {
	transform: rotate(0deg) translateX(150px) rotate(0deg) rotate(0deg);
}
	to {
	transform: rotate(360deg) translateX(150px) rotate(-360deg) rotate(360deg);
}
}

@keyframes move_venus {
	from {
	transform: rotate(0deg) translateX(250px) rotate(0deg) rotate(0deg);
}
	to {
	transform: rotate(360deg) translateX(250px) rotate(-360deg) rotate(360deg);
}
}

@keyframes move_earth {
	from {
	transform: rotate(0deg) translateX(350px) rotate(0deg) rotate(0deg);
}
	to {
	transform: rotate(360deg) translateX(350px) rotate(-360deg) rotate(360deg);
}
}

@keyframes move_mars {
	from {
	transform: rotate(0deg) translateX(450px) rotate(0deg) rotate(0deg);
}
	to {
	transform: rotate(360deg) translateX(450px) rotate(-360deg) rotate(360deg);
}
}

@keyframes move_jupiter {
	from {
	transform: rotate(0deg) translateX(550px) rotate(0deg) rotate(0deg);
}
	to {
	transform: rotate(360deg) translateX(550px) rotate(-360deg) rotate(360deg);
}
}

@keyframes move_saturn {
	from {
	transform: rotate(0deg) translateX(650px) rotate(0deg) rotate(0deg);
}
	to {
	transform: rotate(360deg) translateX(650px) rotate(-360deg) rotate(360deg);
}
}

@keyframes move_uranus {
	from {
	transform: rotate(0deg) translateX(750px) rotate(0deg) rotate(0deg);
}
	to {
	transform: rotate(360deg) translateX(750px) rotate(-360deg) rotate(360deg);
}
}

@keyframes move_neptune {
	from {
	transform: rotate(0deg) translateX(850px) rotate(0deg) rotate(0deg);
}
	to {
	transform: rotate(360deg) translateX(850px) rotate(-360deg) rotate(360deg);
}
}